#header-div {
    background-color: lightseagreen;
}

#main-body-div {
    background-color: slateblue;
    display: grid;
    grid-template-columns: .5fr 2fr 1fr;
    gap: 20px;
    margin-top: 20px;
}
#axis-div {
    background-color: hotpink;
    margin-left: 20px;
}
#svg-div {
    background-color: lightblue;
}

#description-div {
    background-color: lightgoldenrodyellow;
    
}